* {
    font-family: Ringbearer Medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-container {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lotr-logo img {
    border-radius: 60px;
    margin-left: 50px;
    margin-top: 10px;
    width: 100px;
    height: 80px;
}

.info {
    display: flex;
}

.info a {
    text-decoration: none;
}

.info h2 {
    margin-right: 40px;
    margin-top: -20px;
    color: rgb(210, 145, 61);
    justify-content: space-between;
    align-items: center;
}

.heading {
    margin-top: 30px;
    margin-left: 35%;
    font-size: larger;
    color: rgb(210, 145, 61);
}

.text {
    margin-left: 45px;
    margin-top: 10px;
}

.content {
    display: flex;
}

.content-left {
    width: 50%;
    margin: 50px;
    color: rgb(210, 145, 61);
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: center;
}

.content-right img {
    margin: 10px;
    width: 500px;
    height: 300px;
    border-radius: 180px;
}

.img-text {
    margin-left: 130px;
    color: rgb(210, 145, 61);
}

/* CSS OF "CHARACTERS" SECTION */

.characters-container {
    background-color: rgb(210, 145, 61);
    color: black;
    padding: 20px;
}

.section-heading {
    text-align: center;
}

.characters {
    display: flex;
    /* justify-content: center; */
}

.character {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    transition: 0.3s;
    /* padding: 10px; */
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.character:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.character img {
    width: 300px;
    height: 180px;
    border-radius: 15px 15px 0px 0px ;
}

.character .charac-text {
    margin-top: 3px;
    margin-bottom: 5px;
    color: black;
}

.quotes-section {
    background-color: black;
    color: rgb(210, 145, 61);
    padding: 50px;
    text-align: center;
    /* margin: 120px; */
}

.quote {
    margin-left: 60px;
    margin-top: 50px;
    margin-right: 200px ;
    padding-left: 350px;
    padding-right: 250px;
    letter-spacing: 0.2em;
    line-height: 1.8;
}

.author {
    text-align: end;
    margin-right: 380px;
}